body {
  background-color: #21232E;
  font-family: 'Hind';
  margin: 0;
  padding: 0; }

.header {
  background: url(../img/m-h-night.jpg);
  background-size: 100%;
  padding: 20px 80px 90px 80px;
  border-bottom-right-radius: 800px 150px; }
  .header .header-wrap .landing-logo {
    color: white;
    width: 105px; }
    .header .header-wrap .landing-logo p {
      float: right;
      font-size: large;
      margin-top: 10px;
      line-height: 0.8em; }
    .header .header-wrap .landing-logo span {
      display: block;
      font-size: xx-small;
      margin-left: 4px; }

.header_heading {
  color: white;
  font-family: 'Source Sans Pro';
  font-style: normal;
  width: 250px;
  font-size: xx-large;
  font-weight: 700; }

.header_heading::selection {
  color: white;
  background: #FF4E33; }

.header_text {
  color: white;
  width: 600px; }

.forButtons, .header_button, .section_banner .section_banner_button {
  padding: 15px 52px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #E3AC00; }

.header_button {
  margin: 100px 150px 70px 0px;
  color: white; }

.login {
  color: white; }

.section {
  position: static;
  margin-bottom: 120px; }
  .section .section_text {
    color: white;
    font-family: 'Source Sans Pro';
    font-style: normal;
    width: 250px;
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 700; }
  .section .section_text::selection {
    color: white;
    background: #FF4E33; }
  .section .section_card_wrap {
    width: 70%;
    margin: auto; }
    .section .section_card_wrap .section_card_right_container {
      color: white;
      font-family: 'Source Sans Pro';
      font-style: normal;
      width: 250px;
      color: white;
      float: right;
      margin: 20px 30px;
      width: 60%;
      text-align: center; }
      .section .section_card_wrap .section_card_right_container .section_card_heading {
        font-weight: 700;
        font-style: bold; }
      .section .section_card_wrap .section_card_right_container .section_card_text {
        font-size: small;
        text-align: justify; }
    .section .section_card_wrap .section_card_img {
      border-radius: 5px;
      margin: 10px; }
    .section .section_card_wrap .section_card {
      border-radius: 5px;
      background-color: #3B3F50;
      margin-top: 20px; }
    .section .section_card_wrap .section_link {
      color: white; }

.section_banner {
  position: relative;
  width: 75%;
  height: 100px;
  left: 12%;
  bottom: -160px;
  border-radius: 5px;
  background: linear-gradient(to right, #DDA206, #932E51); }
  .section_banner .section_banner_text_wrap {
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 20%; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      color: white;
      font-family: 'Source Sans Pro';
      font-style: normal;
      width: 250px;
      font-weight: bold;
      font-size: large; }
    .section_banner .section_banner_text_wrap .section_banner_heading::selection {
      color: white;
      background: #FF4E33; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      font-family: "Hind";
      font-size: medium;
      color: white; }
  .section_banner .section_banner_button {
    color: white;
    margin-top: 24px; }

.footer {
  background-color: #3B3F50;
  padding: 100px 70px; }
  .footer .footer-wrap {
    color: white; }
    .footer .footer-wrap .footer_logo {
      width: 105px;
      width: 105px;
      float: left;
      margin-right: 30%; }
      .footer .footer-wrap .footer_logo p {
        float: right;
        font-size: large;
        margin-top: 10px;
        line-height: 0.8em; }
      .footer .footer-wrap .footer_logo span {
        display: block;
        font-size: xx-small;
        margin-left: 4px; }
    .footer .footer-wrap .footer_text {
      text-align: left;
      margin: 0px;
      width: 25%;
      float: left; }
    .footer .footer-wrap .footer-cr {
      text-align: center;
      margin: 0px;
      width: 25%;
      float: right; }
