// Write your styles here
body{
  background-color: $mainBackgoundColor;
  font-family: 'Hind';
  margin:0;
  padding: 0;
}

@mixin logo {
  width: 105px;
  p{
    float: right;
    font-size: large;
    margin-top: 10px;
    line-height: 0.8em;
  }
  span{
    display: block;
    font-size: xx-small;
    margin-left: 4px;
  }
}

.header{
  background: $backgoundImage;
  background-size: 100%;
  padding: 20px 80px 90px 80px;
  border-bottom-right-radius: 800px 150px;
  .header-wrap{
  .landing-logo {
    color:$textcolor;
    @include logo;
  }
}
}


@mixin mainfont {
  color:$textcolor;
  font-family: 'Source Sans Pro';
  font-style: normal;
  width: 250px;
}

@mixin textdecor{
  color:$textcolor;
  background: $colorTextHighlight;
}

@mixin whitecolor {
  color: white;
}

@mixin borderRadius{
  border-radius: 5px;
}


.header_heading{
  @include mainfont;
  font-size: xx-large;
  font-weight: 700;
}


.header_heading::selection {
  @include textdecor;
}

.header_text{
  color:$textcolor;
  width: 600px;
}

.forButtons{
  padding: 15px 52px;
  border: none;
  @include borderRadius;
  cursor: pointer;
  background-color: $colorButton;
}


.header_button{
  @extend .forButtons;
  margin: 100px 150px 70px 0px;
  @include whitecolor;
}

.login{
  @include whitecolor;
}


.section{
  position: static;
  margin-bottom: 120px;
  .section_text{
    @include mainfont;
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: 700;
  }
  .section_text::selection {
    @include textdecor;
  }
  .section_card_wrap{
    width: 70%;    
    margin: auto;
    .section_card_right_container{
      @include mainfont;
      @include whitecolor;
      float:right;
      margin: 20px 30px;
      width: 60%;
      text-align: center;
      .section_card_heading{
        font-weight: 700;
        font-style: bold;
      }
      .section_card_text{
        font-size: small;
        text-align: justify;
      }
    }
    .section_card_img{
      @include borderRadius;
      margin:10px;
    }
    .section_card{
      @include borderRadius;
      background-color: $backgoundColor;
      margin-top:20px;
    }
    .section_link  {
      @include whitecolor;
    }
  }
}

.section_banner{
  position: relative;
  width: 75%;
  height: 100px;
  left: 12%;
  bottom:-160px;
  @include borderRadius;
  background: linear-gradient($dayRadient);
  .section_banner_text_wrap{
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 20%;
    .section_banner_heading{
      @include mainfont;
      font-weight: bold;
      font-size: large;
    }
    .section_banner_heading::selection{
      @include textdecor;
    }
    .section_banner_text{
      font-family: $hind;
      font-size: medium;
      @include whitecolor;
    }
  }
  .section_banner_button{
    @extend .forButtons;
    @include whitecolor;
    margin-top: 24px;
  }
}

.footer{
  background-color: $backgoundColor;
  padding: 100px 70px;
  .footer-wrap{
    @include whitecolor;
    .footer_logo{
      @include logo;
        width: 105px;
        float: left;
        margin-right: 30%;
       }
    .footer_text{
      text-align: left;
      margin: 0px;
      width: 25%;
      float: left;
    }
    .footer-cr{
      text-align: center;
      margin: 0px;
      width: 25%;
      float: right;
    }
  }
}