$backgoundImage: url(../img/m-h-day.jpg);
$mainBackgoundColor: white;
$line-height: 1.8em;
$textcolor: #2C2F3C;
$colorTextHighlight: #14A0C7;
$backgoundColor: #21232E;
$hind: 'Hind';
$colorButton: #699900;
$dayRadient: to right, #679709, #305ECF;