$backgoundImage: url(../img/m-h-night.jpg);
$mainBackgoundColor: #21232E;
$line-height: 1.8em;
$textcolor: white;
$colorTextHighlight: #FF4E33;
$backgoundColor: #3B3F50;
$hind: 'Hind';
$colorButton: #E3AC00;
$dayRadient: to right, #DDA206, #932E51;